<div id="form" class="span3">
	<h4><%= shift.role.name %> Shift</h4>
	<%= semantic_form_for [workplace, shift] do |f| %>
		<%= f.inputs do %>
			<%= f.input :name %>
			<%= f.input :role, as: :hidden %>
			<%= f.input :start_time, as: :string, input_html: { class: "datetimepicker", value: shift.start_time.strftime("%Y-%m-%d %H:%M") } %>
			<%= f.input :end_time, as: :string, input_html: { class: "datetimepicker", value: shift.end_time.strftime("%Y-%m-%d %H:%M") } %>
			<%= f.input :available_users, as: :check_boxes, collection: shift.available_users, member_label: Proc.new { |u| u.display_name }  %>
		<% end %>
		<%= f.actions do %>
			<%= f.action :submit, label: 'Create', button_html: { class: "btn btn-success" } %>
		<% end %>
	<% end %>
</div>